.product-list-container {
    width: 50%; 
    margin: auto; 
    padding-top: 4em;
}

.filter-menu-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17%;
    left: 5%;

    button {
        margin-top: 1rem;
    }
}